html {
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

.myHeader {
  background: #502a75;
  color: #fff;
  padding: 20px 20px 20px;
  height: 190px;
  margin-bottom: 1rem;
}

/* span svg{
  display: block;
  position: absolute;
  height: 70px;
  left: 44%;
  margin: -0.5%; */

/* } */

main {
  max-width: 65%;
  min-height: 60%;
  border-radius: 6px;
  background: #fff;
  padding: 10px 40px 40px 40px;
  margin: 0 auto;
  margin-top: -130px;

  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
}

main h3 {
  padding: 2px 0px 20px;
  font-size: 20px;
}

main h3 span {
  float: right;
  font-size: 16px;
  color: #502a75;
  padding-top: 30px;
}

.formClass {
  text-align: center;
  top: 40px;
  padding: 20px;
}
.form-group {
  padding: 7px;
  border-radius: 20px;
}
input {
  height: 20px;
  width: 250px;
  border-radius: 5px;
  padding: 10px;
  background-color: #eaebff;
  border-color: #eaebff;
  border: 0px;
}
.btn {
  padding: 10px;
  height: 40px;
  width: 80px;
  margin: 15px;
  background-color: #502a75;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}

a {
  text-decoration: none;
}

@media (max-width: 890px) {
  main {
    max-width: 85%;
    padding: 5%;
  }

  .myHeader h1 {
    font-size: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  main h3 {
    font-size: 15px;
  }

  main h3 span {
    font-size: 12px;
  }

  input {
    height: 20px;
    width: 230px;
    border-radius: 5px;
    padding: 10px;
    background-color: #eaebff;
    border-color: #eaebff;
    border: 0px;
  }
  .form-group {
    padding: 7px;
    border-radius: 20px;
    width: 100%;
  }

  /* span svg{
  display: block;
  position: absolute;
  height: 70px;
  left: 44%;
  margin: -0.5%;
   */
  /* } */
}
